<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid my-3 dropdown">
    <div class="row">
      <div class="input-group mb-3 col">
        <span class="input-group-text">Client's Last Name:</span>
        <select formControlName="clientId" class="form-control" list="client-last-names-datalistOptions"
                id="client-last-names"
                placeholder="Type to search...">

          <option *ngFor="let client of clients;" [ngValue]="client">{{client.lastName}} {{client.name}}</option>
        </select>
      </div>
      <div class="input-group mb-3 col dropdown">
        <span class="input-group-text">Operation:</span>
        <select formControlName="operationId" class="form-select" aria-label="Default select example"
                [(ngModel)]="operation" (click)="setFormControls()">
          <option *ngFor="let operation of operations;" [ngValue]="operation"
                  value="{{operation.id}}">{{operation.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-group mb-3 col">
        <span class="input-group-text" id="basic-addon1">Date:</span>
        <input formControlName="date" type="date" class="form-control" placeholder="{{currentDate}}" aria-label="Date"
               aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3 col">
        <span class="input-group-text">Time:</span>
        <input formControlName="time" type="time" class="form-control" placeholder="" aria-label="Date"
               aria-describedby="basic-addon1" ngModel="datetime.time">
      </div>
    </div>
    <div class="row" formArrayName="dentistIdList">
      <div *ngFor="let control of dentistIdList.controls let i=index" class="input-group mb-3 col">
        <span class="input-group-text">Dentist:</span>
        <select class="form-select" aria-label="Default select example" [formControlName]="i">
          <option *ngFor="let dentist of dentists1;" id="dentist-{{i}}"
                  [ngValue]="dentist.id">{{dentist.lastName}} {{dentist.name}}</option>
        </select>
      </div>
    </div>
    <div class="row" formArrayName="helperIdList">
      <div *ngFor="let control of helperIdList.controls let i=index" class="input-group mb-3 col">
        <span class="input-group-text">Helper:</span>
        <select class="form-select" aria-label="Default select example" [formControlName]="i">
          <option *ngFor="let helper of helpers1;" id="helper-{{i}}"
                  [ngValue]="helper.id">{{helper.lastName}} {{helper.name}}</option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary float-end" type="submit">Submit</button>
  </div>
</form>
