<div class="row my-3">
  <app-appointments-form></app-appointments-form>
</div>
<div class="row my-3">
  <table class="table table-striped my-3">
    <thead>
    <tr>
      <th scope="col">Appointment ID</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Operation</th>
      <th scope="col">Staff</th>
    </tr>
    </thead>
    <tbody *ngFor="let appointment of appointments let i=index;">
    <tr>
      <td>{{appointment.appointmentId}}</td>
      <td>{{appointment.client}}</td>
      <td>{{appointment.date}}</td>
      <td>{{appointment.time}}</td>
      <td>{{appointment.operation}}</td>
      <td><tr *ngFor="let staffMember of appointment.staff">
      <td>{{staffMember}}</td>
    </tr>
    </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
  <button class="btn btn-info" type="button" (click)="goUpOnePage()">Previous</button>
  <input placeholder="{{page + 1}}">
  <button class="btn btn-info" type="button" (click)="goDownOnePage()">Next</button>
  </div>
</div>
